*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(./background.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: repeat-x;
    width:100%;
}
a{
    text-decoration:none;
    color:rgb(247, 55, 55);
}
.background {
    color:white;
    margin:20px;
}
legend{
    margin-left: 10px;
}
.fotoprofil{
    padding:20px;
    width: 250px;
    height: 320px;
}
.profil {
    width: 100%;
    display: flex;
}
table,th, td{
    height: max-content;
}
.profill {
    font-size:25px;
    text-align: left;
}
.hobi{
    padding-left: 20px;
    list-style-type: circle;
}
aside{
    width: 10%;
    margin-left: auto;
}
h3{
    margin: 20px;
}
.list-link{
    list-style:none;
}

/* main content  */
article {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}
h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
footer{
    width: 100%;
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.kotak1{
    width:30%;
    margin-right: 20px;
    text-align:center;
}
.kotak2{
    width:30%;
}
.foto{
    width:40%;
    height:180px;
}
.kotak3{
    width:30%;
}
.fieldset3{
    margin: 0;
    padding-left:5px;
    padding-bottom:5px;
}

